.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-product-1 {
  min-height: 574px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 514px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 514px;
  margin: -514px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  width: 43px;
  height: 3px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 60px 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 3px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 28px auto 0 0;
  padding: 10px 65px;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 11px 503px 60px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 403px;
    margin-right: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-product-1 {
    min-height: 477px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 417px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 417px;
    margin-top: -417px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 293px;
    margin-right: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-product-1 {
    min-height: 836px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 318px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 203px;
    margin-right: 203px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 103px;
    margin-right: 103px;
  }
}