.std-btn-1{
    padding: 5px 20px;
    width: 100%;
    outline: none;
    background-color: #f4bc57;
    color: white;
    border: none;
    font-size: 17px;
    font-family: medium;
    margin: 10px 0px;
}

.view{
    text-align: center;
    color: grey;
    font-size: 10px;
}

.view-cnt{
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

.features{
    display: flex;
    margin-bottom: 30px;
}

.feature-icons{
    /*color: rgba(128, 128, 128, 0.507);*/
    color: #f4bd5796;
    text-align: center;
    font-size: 50px;
    margin-bottom: -10px;
}

.feature-text{
    color: #f4bd57a6;
    text-align: center;
    font-size: 15px;
}