.app-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 0px 30px;
}

.logo{
    font-size: 30px;
    font-family: neometric;
}

.login-bars{
    padding: 10px;
}

.app-std-btn{
    outline: none;
    background-color: #f4bc57;
    color: white;
    border: none;
    font-family: medium;
    margin: 30px 10px;
    border: solid 3px #f4bc57;
    cursor: pointer;
    padding: 0px 10px;
}

@media only screen and (max-width: 1024px) {
    .app-bar{
        justify-content: space-between;
    }

    .logo{
        font-size: 15px;
    }
}




