.how-we-work-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
    
}

.how-we-work-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    position: relative;
}

.skip{
    position: absolute;
    top: 30%;
    right: 5%;
    transform: rotate(180deg);
    filter: drop-shadow(0px 0px 5px #f4bd57af);
}