.list-container-m{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    margin: 10px 0px;
    overflow-x: scroll;

    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpapercave.com/wp/wp2737387.jpg);
}

.list-item-m{
    width: 60vw;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
    margin-top: 10px;

    background-color: white;
    height: 100%;
}


.center-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item-name{
    font-size: 13px;
    color: #e2a22b;
    width: 100%;
    text-align: left;
}

.sp{
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: left;
}
.mrp{
    font-size: 13px;
    color: black;
    width: 100%;
    text-align: left;
}
.save{
    color: grey;
    font-size: 13px;
    margin-top: 5px;
    text-align: left;
    width: fit-content;
}

.std-btn-2{
    border: none;
    color: #e2a22b;;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}