.list-container{
    width: 100%;
    padding: 10px 50px;
    background-color: #f4bd57;
    margin: 10px 0px;
    justify-content: space-evenly;
    height: 23vw;
}

.list-item{
    width: 80%;
    height: 21vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.center-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name{
    font-size: 13px;
    color: #e2a22b;
    width: 100%;
    text-align: left;
}

.sp{
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: left;
}
.mrp{
    font-size: 13px;
    color: black;
    width: 100%;
    text-align: left;
}
.save{
    color: grey;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.std-btn-2{
    border: none;
    color: #e2a22b;;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}