div{
    font-family: medium;
}

html{
    font-family: medium;
}

*{
    font-family: medium;
}

.h1{
    font-family: medium;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-a{
    font-family: neometric;
}

.desktop-ctn{
    width: 1000px;
    margin-top: 50px;
}

.std-ctn{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.std-para{
    width: 70%;
}

.std-btn{
    outline: none;
    background-color: #f4bc57;
    color: white;
    padding: 15px 50px;
    border: none;
    font-size: 17px;
    font-family: medium;
    margin: 30px 0px;
    border: solid 3px #f4bc57;
    cursor: pointer;
}

.para-img{
    width: 350px;
}

.std-btn:hover{
    background-color: white;
    color: #f4bc57;
}

.mobile{
    display: none;
}

a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .desktop-ctn{
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-left: 10px;
    }
    .std-ctn{
        flex-direction: column;
    }
    .std-para{
        width: 80%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}